.lbpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-image: url('../images/leaderboard.jpg');
    background-size: cover;
    height: 539px;
    width: 904px;
}